.textContainer, .imageContainer {
 width: 50%;
 display: inline-flex;
 float: left;
 justify-content: center;
}

.textContainer {
 justify-content: center;
 color: #85D2CA;
}

.workstationImage {
 width: 100%;
 top:0;
}