.navLinksContainer {
 align-items: center;
}

ul {
  list-style-type: none;
  margin-left: 120px;
  top: 20px;
  bottom: 0;
  padding: 0;
  padding-top: 20px;
  position: absolute;
}

li {
  display: inline;
  margin: 25px;
}

li a {
  color: #F3776E;
  text-decoration: none;
}

li a:hover {
  color: aquamarine;
}